<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Your Post</h1>
    <h2>Id:<%= post.id %></h2>
      <div class="post">
            <h2 class="user">@<%= post.username %></h2>
            <p class="content"><%= post.content %></p>
        </div>
</body>
</html>